.my_name{
  color: black;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.my_intro{
  color: black;
  text-align: center;
  font-size: 30px;
}
.my_list{
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 25px;
}
li{
  list-style: none;
}
