body{
  background-image: url('DSC_8655-2.jpg');
}
.my_name{
  color: black;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.my_intro{
  color: black;
  text-align: center;
  font-size: 28px;
}

